<!DOCTYPE html>
<html>
    <head>
        <title><%= name%></title>
        <link rel="stylesheet" href="../css/profile.css">
    </head>
    <body>
        <header>
            <h1><a href="../html/index.html">Webdex</a></h1>
        </header>
        <nav>
            <div>
                <a>General Information</a>
                <a>Stats</a>
            </div>
            <a>Search</a>
        </nav>
        <main>
            <article>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png" alt="<%= name%>">
                <div class="height_and_weight">
                    <span><h5>Height:</h5><%= height%> dm</span>
                    <span><h5>Weight:</h5><%= weight%> hg</span>
                </div>
                <div class="abilities">
                    <h5>Abilities: </h5>
                    <p><%= ability1%></p>
                    <p><%= ability2%></p>
                    <p><%= ability3%></p>
                </div>
            </article>
            <div id="information">
                <span id="pokeid"><%= id%></span>
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/profile.js"></script>
    </body>
</html>