<!DOCTYPE html>
<html>
    <head>
        <title><%= name%></title>
        <link rel="stylesheet" href="../public/css/profile.css">
    </head>
    <body>
        <header>
            <h1><%= name%></h1>
        </header>
        <nav>
            <div>
                <a>General Information</a>
                <a>Stats</a>
            </div>
            <a>Search</a>
        </nav>
        <main>
            <article>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png" alt="<%= name%>">
                <div class="height_and_weight">
                    <span><%= height%> dm</span>
                    <span><%= weight%> hg</span>
                </div>
            </article>
            <div>
                <span><%= id%></span>
                <h3><%= name></h3>
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../public/js/profile.js"></script>
    </body>
</html>